@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  /* --bg-color: #ffffff;
  --text-color: #111111; */
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    /* --bg-color: #1a1a1a;
    --text-color: #f0f0f0; */
  }

  input, textarea {
    border: 1px solid #424347;
    border-radius: 5px;
    background-color: var(--color-dark-card);
  }
}

:root[data-theme="dark"] {
  /* --bg-color: #1a1a1a;
  --text-color: #f0f0f0; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




@theme {
  --color-dark-primary: #212226;
  --color-dark-text: #EAEBEF;
  --color-dark-primary-button: #3B82F6;
  --color-dark-card: #2C2D31;
  --color-dark-secondary-button: #374151;
  --color-dark-danger: #EF4444;
  --color-dark-secondary-text: #8C9395;
}

.card, .exercise-card {
  background-color: var(--color-dark-card);
  color: var(--color-dark-text);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #424347;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-button {
  background: #2075DF;
  background: linear-gradient(90deg, rgba(32, 117, 223, 1) 0%, rgba(49, 156, 217, 1) 90%);
}